
@{
    ViewData["Title"] = "First";
}

<h1>First</h1>
<button id="button1" class="btn btn-primary">Click</button>
<div id="div1"></div>

@section Scripts{
    <script>
        //先找到要控制的對象
        const btn = document.querySelector('#button1');
        //在甚麼的行為下
        btn.addEventListener('click',()=>{
            //要做甚麼事=>透過XMLHttpRequest物件對伺服器發出要求(Request)以及接收伺服器回應(Response)的資料

            //step1 建立Ajax物件
            const xhr = new XMLHttpRequest();

            //step2 對伺服器發出要求
            xhr.open('GET','/api/index');
            xhr.send();

            //step3 接收伺服器回應(Response)的資料
            //load事件表示伺服器已經回應資料了
           xhr.addEventListener('load',()=>{
               //接收資料
               const data = xhr.responseText;

               //顯示資料
                const theDiv = document.querySelector('#div1');
                theDiv.innerHTML = `<h2>${data}</h2>`;
           })





            
        })
       
    </script>
}

@section Styles{

}